AWS_REGION=us-west-2
BUCKET_PREFIX=cloudbank-biobricks-kg
# Optional override. If unset, scripts derive S3_BUCKET automatically.
# S3_BUCKET=cloudbank-biobricks-kg-<accountid>-uswest2
S3_KEY=data/oregano_sample.ttl
NEPTUNE_ENDPOINT=your-neptune-cluster.cluster-xxxxxx.us-west-2.neptune.amazonaws.com
NEPTUNE_IAM_ROLE_ARN=arn:aws:iam::123456789012:role/NeptuneLoadFromS3Role
OREGANO_URL=https://zenodo.org/records/10103842/files/oreganov2.1_metadata_complete.ttl?download=1
